**/project/
**/spark-warehouse/
**/.idea/
**/old_scripts/
**/_UML/
**/tiny_helpers/
**/generate_test_data/
**/_old_project/
**/_wikiCat_old_removed/
_oldest_project_info.json
_Progress_WikiCat_Reworking
_OVERVIEW.md
project.7z
animationTest.py
CHECK IF REMOVE.py
**/test/
**/protokoll/
**/_project/
**/test_project/
**/test_project.bak/
test_a_create_project Kopie.py
test_b_add_parsed_data.py
test_c_generate_graph_data.py
test_d_add_project_metadata.py
test_e_calculate_cscores.py
**/test_project/
**/test_project_/
**/test_project_alt/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
**/.DS_Store
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.DS_Store
**/.DS_Store